<script>
var data = [{"id": 6002714885172, "name": "Cooking", "parent_category": "Activities"}, {"id": 6002714885972, "name": "Dancing", "parent_category": "Activities"}, {"id": 6002714885772, "name": "DIY/Crafts", "parent_category": "Activities"}, {"id": 6003050229172, "name": "Event Planning", "parent_category": "Activities"}, {"id": 6002714886772, "name": "Food & Dining", "parent_category": "Activities"}, {"id": 6002714884772, "name": "Gaming (Console)", "parent_category": "Activities"}, {"id": 6002714884572, "name": "Gaming (Social/Online)", "parent_category": "Activities"}, {"id": 6002714887172, "name": "Gardening", "parent_category": "Activities"}, {"id": 6002714888172, "name": "Literature/Reading", "parent_category": "Activities"}, {"id": 6002714889172, "name": "Outdoor Fitness Activities", "parent_category": "Activities"}, {"id": 6003050295572, "name": "Photo Uploading", "parent_category": "Activities"}, {"id": 6002714898772, "name": "Photography", "parent_category": "Activities"}, {"id": 6002714895372, "name": "Traveling", "parent_category": "Activities"}, {"id": 6002714890972, "name": "Computer Programming", "parent_category": "Business/Technology"}, {"id": 6002714889372, "name": "Personal Finance", "parent_category": "Business/Technology"}, {"id": 6002714890172, "name": "Real Estate", "parent_category": "Business/Technology"}, {"id": 6002714890772, "name": "Science/Technology", "parent_category": "Business/Technology"}, {"id": 6002714898572, "name": "Small Business Owners", "parent_category": "Business/Technology"}, {"id": 6002737124172, "name": "Has birthday in <1 week", "parent_category": "Events"}, {"id": 6003054185372, "name": "Recently Moved", "parent_category": "Events"}, {"id": 6003053857372, "name": "Away from Family", "parent_category": "Family Status"}, {"id": 6003053860372, "name": "Away from Hometown", "parent_category": "Family Status"}, {"id": 6002714401172, "name": "Baby Boomers", "parent_category": "Family Status"}, {"id": 6003050210972, "name": "Engaged (<1 year)", "parent_category": "Family Status"}, {"id": 6002714398772, "name": "Engaged (<6 months)", "parent_category": "Family Status"}, {"id": 6002714398172, "name": "Newlywed (<1 year)", "parent_category": "Family Status"}, {"id": 6003050226972, "name": "Newlywed (<6 months)", "parent_category": "Family Status"}, {"id": 6002714398372, "name": "Parents (All)", "parent_category": "Family Status"}, {"id": 6002714905372, "name": "Parents (child: 0-3yrs)", "parent_category": "Family Status"}, {"id": 6002714905572, "name": "Parents (child: 4-12yrs)", "parent_category": "Family Status"}, {"id": 6002714905772, "name": "Parents (child: 13-15yrs)", "parent_category": "Family Status"}, {"id": 6002714906172, "name": "Parents (child: 16-19yrs)", "parent_category": "Family Status"}, {"id": 6002714884172, "name": "Autos", "parent_category": "Interests"}, {"id": 6002714891172, "name": "Beer/Wine/Spirits", "parent_category": "Interests"}, {"id": 6002714885572, "name": "Charity/Causes", "parent_category": "Interests"}, {"id": 6002714886172, "name": "Education/Teaching", "parent_category": "Interests"}, {"id": 6002714894572, "name": "Entertainment (TV)", "parent_category": "Interests"}, {"id": 6002714887372, "name": "Environment", "parent_category": "Interests"}, {"id": 6002714887972, "name": "Health & Wellbeing", "parent_category": "Interests"}, {"id": 6002714887572, "name": "Home & Garden", "parent_category": "Interests"}, {"id": 6002714888572, "name": "News", "parent_category": "Interests"}, {"id": 6002714889572, "name": "Pets (All)", "parent_category": "Interests"}, {"id": 6002714889972, "name": "Pets (Cats)", "parent_category": "Interests"}, {"id": 6002714889772, "name": "Pets (Dogs)", "parent_category": "Interests"}, {"id": 6002714894772, "name": "Politics (US Active)", "parent_category": "Interests"}, {"id": 6002714894972, "name": "Politics (US Conservative)", "parent_category": "Interests"}, {"id": 6002714895172, "name": "Politics (US Liberal)", "parent_category": "Interests"}, {"id": 6002714886372, "name": "Pop Culture", "parent_category": "Interests"}, {"id": 6002809853972, "name": "Mobile (All)", "parent_category": "Mobile"}, {"id": 6002809854572, "name": "Android", "parent_category": "Mobile"}, {"id": 6002809854172, "name": "iPhone", "parent_category": "Mobile"}, {"id": 6003030879772, "name": "Others", "parent_category": "Mobile"}, {"id": 6002809854372, "name": "RIM/Blackberry", "parent_category": "Mobile"}, {"id": 6002809854772, "name": "Windows Phone", "parent_category": "Mobile"}, {"id": 6002714888372, "name": "Movie/Film (All)", "parent_category": "Movie/Film"}, {"id": 6002714902772, "name": "Action/Adventure", "parent_category": "Movie/Film"}, {"id": 6002714902972, "name": "Animated", "parent_category": "Movie/Film"}, {"id": 6002900645572, "name": "Bollywood", "parent_category": "Movie/Film"}, {"id": 6002714903172, "name": "Classic", "parent_category": "Movie/Film"}, {"id": 6002714903372, "name": "Comedy", "parent_category": "Movie/Film"}, {"id": 6002714903572, "name": "Drama", "parent_category": "Movie/Film"}, {"id": 6002714903772, "name": "Family", "parent_category": "Movie/Film"}, {"id": 6002714903972, "name": "Horror", "parent_category": "Movie/Film"}, {"id": 6002714904172, "name": "Independent", "parent_category": "Movie/Film"}, {"id": 6002714904372, "name": "Musical", "parent_category": "Movie/Film"}, {"id": 6002714904572, "name": "Romance", "parent_category": "Movie/Film"}, {"id": 6002714904772, "name": "Science Fiction/Fantasy", "parent_category": "Movie/Film"}, {"id": 6002714904972, "name": "Sports", "parent_category": "Movie/Film"}, {"id": 6002714905172, "name": "Suspense/Thriller", "parent_category": "Movie/Film"}, {"id": 6002714888972, "name": "Music (All)", "parent_category": "Music"}, {"id": 6002714899372, "name": "Alternative", "parent_category": "Music"}, {"id": 6002714899972, "name": "Children's Music", "parent_category": "Music"}, {"id": 6002714900172, "name": "Christian & Gospel", "parent_category": "Music"}, {"id": 6002714901372, "name": "Classic Rock", "parent_category": "Music"}, {"id": 6002714900372, "name": "Classical", "parent_category": "Music"}, {"id": 6002714900572, "name": "Comedy", "parent_category": "Music"}, {"id": 6002714900772, "name": "Country", "parent_category": "Music"}, {"id": 6002714900972, "name": "Dance/Electronic", "parent_category": "Music"}, {"id": 6002714899572, "name": "Hip Hop/Rap", "parent_category": "Music"}, {"id": 6002714899772, "name": "Jazz/Blues", "parent_category": "Music"}, {"id": 6002714901172, "name": "Metal", "parent_category": "Music"}, {"id": 6002714901572, "name": "Pop", "parent_category": "Music"}, {"id": 6002714901772, "name": "R&B/Soul", "parent_category": "Music"}, {"id": 6002714901972, "name": "Reggae", "parent_category": "Music"}, {"id": 6002714902572, "name": "Rock", "parent_category": "Music"}, {"id": 6002714884372, "name": "Beauty Products", "parent_category": "Retail/Shopping"}, {"id": 6002714885372, "name": "Consumer Electronics", "parent_category": "Retail/Shopping"}, {"id": 6002714886572, "name": "Fashion", "parent_category": "Retail/Shopping"}, {"id": 6002714890372, "name": "Luxury Goods", "parent_category": "Retail/Shopping"}, {"id": 6002714891572, "name": "Sports (All)", "parent_category": "Sports"}, {"id": 6002714891972, "name": "Baseball", "parent_category": "Sports"}, {"id": 6002714892172, "name": "Basketball", "parent_category": "Sports"}, {"id": 6002900645772, "name": "Cricket", "parent_category": "Sports"}, {"id": 6002714892572, "name": "Extreme Sports", "parent_category": "Sports"}, {"id": 6002714892972, "name": "Fantasy Sports", "parent_category": "Sports"}, {"id": 6002714891772, "name": "Football (American)", "parent_category": "Sports"}, {"id": 6002714893372, "name": "Golf", "parent_category": "Sports"}, {"id": 6002714892372, "name": "Ice Hockey", "parent_category": "Sports"}, {"id": 6002714893572, "name": "Motor Sports/NASCAR", "parent_category": "Sports"}, {"id": 6002714894172, "name": "Soccer/European Football", "parent_category": "Sports"}, {"id": 6002714893772, "name": "Tennis", "parent_category": "Sports"}],
</script>
<style type="text/css">
  .facebook_broad_category_choser div.parents {
    margin-left: 20px;
  }
  .facebook_broad_category_choser div.left.parents,
  .facebook_broad_category_choser div.left.children {
    margin-right: 5px;
    width: 200px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #AAA;
  }
  .facebook_broad_category_choser ul {
    padding: 0
  }
  .facebook_broad_category_choser ul li {
    width: 180px;
    height: 23px;
    margin-top: 1px;
    padding: 0px 2px;
  }
  .facebook_broad_category_choser div.parents ul li {
    background-image: url(/images/bullets/small-right-grey-arrow.gif);
    background-position: 98% 46%;
    background-repeat: no-repeat;
  }
  .facebook_broad_category_choser div.parents ul li.selected {
    background-image: url(/images/bullets/small-right-black-arrow.gif);
    background-position: 98% 46%;
    background-repeat: no-repeat;
  }
  .facebook_broad_category_choser ul li span {
    vertical-align: middle;
  }
  .facebook_broad_category_choser ul li span.broad_category_parent {
    display: inline-block;
    width: 145px;
  }
  .facebook_broad_category_choser ul li span.broad_category_parent_count {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #D9DEEA;
    -webkit-border-radius: 4px;
  }
  .facebook_broad_category_choser ul li.selected,
  .facebook_broad_category_choser ul li.selected:hover {
    background-color: #D9DEEA;
  }
  .facebook_broad_category_choser ul li:hover {
    background-color: #EFF2F7;
  }
  .facebook_broad_category_choser ul li span.broad_category_parent_count > p {
    font-size: 11px;
    font-weight: bold;
    margin-top: 2px;
    color: #405499;
  }
  .facebook_broad_category_choser ul li span.broad_category_parent_count.empty {
    display: none;
  }
  .facebook_broad_category_choser ul li span.broad_category_child > label {
    font-weight: normal;
    display: inline-block;
    width: 155px;
  }
  .facebook_broad_category_choser div.selection_count {
    margin: 10px 20px 0 140px;
  }
  .facebook_broad_category_choser div.clear_selections,
  .facebook_broad_category_choser div.show_hide_selected {
    margin-top: 16px;
    margin-right: 10px;
    cursor: pointer !important;
  }
  .facebook_broad_category_choser div.selection_count > span.count {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: #D9DEEA;
    -webkit-border-radius: 4px;
  }
  .facebook_broad_category_choser div.selection_count >span.count > p {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #405499;
    margin: 4px auto 0 auto;
  }
  .facebook_broad_category_choser div.parents.disabled {
    background-color: #ddd;
    opacity: 0.4;
  }
</style>

<div class="facebook_broad_category_choser">

  <div class="left top">
    <label class="left">Broad Category:</label>
    <div class="left" style="margin-top: 2px; margin-left: 5px;">
      <%= tooltip_help(:content => "Broad Category targeting allows you to reach groups of people who share similar interests
      and traits. These categories draw from the authentic information people have included in their profiles, allowing you to
      easily reach your ideal audience. Browse and select from our list of categories to get started.",
      :title => 'Broad Category', :width => 400, :position => :bottom_right) %>
    </div>
  </div>

  <div class="left parents"></div>

  <div class="left children"></div>

  <div class="super_clear"></div>

  <div class="left selection_count">
    <span class="count"><p class="bold">0</p></span>
    <span class="bold">categories selected</span>
  </div>

  <div class="left clear_selections"></div>

  <div class="left show_hide_selected">
    <a class="show">Show selected</a>
    <a class="hide" style="display: none;">Hide selected</a>
  </div>

</div>

<script>
  var selections = [6002714885172, 6002714885972, 6002714885772, 6002714905772, 6002714906172];

  var groups = _.groupBy(data, function(item) {
    return item['parent_category'];
  });

  var sanitize_name = function(name) {
    return name.gsub('/', '').gsub(' ', '_').underscore();
  }

  var parents_ul = $j('<ul>');
  $j('.facebook_broad_category_choser div.parents').append(parents_ul);

  _.keys(groups).each(function(item) {
    var children = groups[item];
    var selectedChildren = $j.grep(children, function(item) {
      if (_.include(selections, item.id)) {
        return true;
      }
    });
    var parent_id = sanitize_name(item);
    var parent_li = $j('<li>').attr('parent_id', parent_id);
    parent_li.append($j('<span class="broad_category_parent">').text(item));
    parent_li.append($j('<span class="broad_category_parent_count">').html($j('<p>').
      text(selectedChildren.length)).addClass(selectedChildren.length == 0 ? 'empty' : ''));
    parents_ul.append(parent_li);

    var child_ul = $j($s('<ul parent_id="#{id}" style="display: none;">', {id: parent_id}));
    children.each(function(item) {
      var checked = _.include(selections, item.id);
      item['sanitized_name'] = sanitize_name(item.name);
      var child_li = $j('<li>').addClass(checked ? 'selected' : '').append($j('<span class="broad_category_child_checkbox">').
                                append($j($s('<input type="checkbox" value="#{id}" id="bcc_#{id}" />', item)).attr('checked', checked)));
      child_li.append($j('<span class="broad_category_child">').
               append($j($s('<label for="bcc_#{id}">#{name}</label>', item))));
      child_ul.append(child_li);
    });
    $j('.facebook_broad_category_choser div.children').append(child_ul);
  });

  $j('.facebook_broad_category_choser div.clear_selections').append($j('<a>').text('Clear All Selections')).bind('click', function() {
    $j('.facebook_broad_category_choser div.children ul li.selected input[type=checkbox]:checked').each(function(index, item) {
      $j(item).removeAttr('checked');
      $j(item).trigger('click', item);  // Re-checks the item, so we uncheck it again
      $j(item).removeAttr('checked');
    });
  });

  var toggleSelected= function(state) {
    if (state) {
      $j('.facebook_broad_category_choser .show_hide_selected a.show').hide();
      $j('.facebook_broad_category_choser .show_hide_selected a.hide').show();
      $j('.facebook_broad_category_choser .children li').hide();
      $j('.facebook_broad_category_choser .children li.selected').show();
      $j('.facebook_broad_category_choser .children ul').show();
      $j('.facebook_broad_category_choser .parents').addClass('disabled');
    } else {
      $j('.facebook_broad_category_choser .show_hide_selected a.show').show();
      $j('.facebook_broad_category_choser .show_hide_selected a.hide').hide();
      $j('.facebook_broad_category_choser .children ul').hide();
      $j('.facebook_broad_category_choser .children ul.selected').show();
      $j('.facebook_broad_category_choser .children li').show();
      $j('.facebook_broad_category_choser .parents').removeClass('disabled');
    }
  };

  // Select the first parent
  $j(document).ready(function() {
    $j('.facebook_broad_category_choser div.parents ul li').first().trigger('click');
    $j.event.trigger('facebook_broad_category_choser_changed');

    $j('.facebook_broad_category_choser .show_hide_selected a').bind('click', function(event) {
      toggleSelected($j(event.target).hasClass('show'));
    });
  });
</script>

<script>
  // Dispatch event indicating selection of a parent element
  $j('.facebook_broad_category_choser div.parents ul li').bind('click', function(event) {
    var target = $j(event.target)[0].nodeName == 'SPAN' ? $j(event.target).parent() : $j(event.target);
    if (target.closest('div.parents').hasClass('disabled')) {
      return;
    }
    var parent_id = target.attr('parent_id');
    $j('.facebook_broad_category_choser div.children ul').hide();
    $j('.facebook_broad_category_choser div.parents ul li').removeClass('selected');
    target.addClass('selected');
    $j('.facebook_broad_category_choser div.children ul').removeClass('selected');
    $j($s('.facebook_broad_category_choser div.children ul[parent_id=#{id}]', {id: parent_id})).show().addClass('selected');
  });

  // Dispatch event describing changes made to a child collection
  $j('.facebook_broad_category_choser ul li span.broad_category_child_checkbox').bind('click', function(event, target) {
    var target = target ? $j(target) : $j(event.target);
    if (target.attr('checked')) {
      target.closest('li').first().addClass('selected');
    } else {
      target.closest('li').first().removeClass('selected');
    }
    var parent_id = $j(event.target).closest('ul').attr('parent_id');
    var selectedChildren = $j(event.target).closest('ul').find('li.selected input:checked');
    $j.event.trigger('facebook_broad_category_choser_changed', {parent_id: parent_id, children: selectedChildren});
  });

  // Listen for events describing changes to child collections
  $j('body').bind('facebook_broad_category_choser_changed', function(event, data) {
    if (data && data.children) {
      var childCount = data.children.length;
      $j($s('.parents ul li[parent_id=#{parent_id}] span.broad_category_parent_count > p', data)).text(childCount);
      if (childCount == 0) {
        $j($s('.parents ul li[parent_id=#{parent_id}] span.broad_category_parent_count', data)).addClass('empty');
      } else {
        $j($s('.parents ul li[parent_id=#{parent_id}] span.broad_category_parent_count', data)).removeClass('empty');
      }
    }

    // Update total number of selected children
    var totalSelected = $j('div.children ul li.selected').length;
    $j('.facebook_broad_category_choser .selection_count p').text(totalSelected);

    // All currently selected values
    var allSelectedValues = _.pluck($j('div.children ul li.selected input[type=checkbox]:checked'), 'value');
  });
</script>
